<h3>{{translations.newRecipe}}</h3>
<p>
   <label for='name'>{{translations.name}}</label> <br/>
   <div id="name_err" class="error"></div>
   <input type='input' name='name' id='name'/>
</p>
<p>
   <div id="description_err" class="error"></div>
   <label for='description'>{{translations.description}}</label><br/>
   <textarea name='description' id='description'/></textarea>
</p>
<p>
   <input type='submit' value='{{translations.create}}'/>
</p>
