<input type="submit" class="button" value="{{translations.newRecipe}}">
<div id="panelCreate" name="panelCreate">
   <p>
      <div id="name_err" class="error"></div>
      <label for='name'>{{translations.name}}</label> <br/>
      <input type='input' name='name' id='name'/>
   </p>
   <p>
      <div id="description_err" class="error"></div>
      <label for='description'>{{translations.description}}</label><br/>
      <textarea name='description' id='description'/></textarea>
   </p>
   <p>
      <input type='submit' value='{{translations.create}}'/>
      <input type='reset' value='Cancel'/>
   </p>
</div>
